header{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    background-color: #ffffff;
    border: 4px #4c96d7 solid;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
#myAccountDiv{
    display: flex;
    align-items: center;
    padding-right: 1rem;
}
#myAccount{
    align-self:center;
    justify-self: end;
    padding-right: 3rem;
    cursor: pointer;
    white-space: nowrap;
}

#nav-bar{
    background-color: #3a3a3a;
    grid-column: 1/4;
}
#nav-bar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}
#nav-bar ul{
    width: 50%;
    margin: 0;
}
#nav-bar ul li{
    list-style: none;
    float: left;
}
#nav-bar ul li a:hover{
    background-color: #4c96d7;
    transition: 0.2s background-color;
}
#welcome-message{
    align-self: center;
}